/* Dataview */

.dataview.dataview-container h4 {
  margin-bottom : 0;
}

.dataview.dataview-container h4 ~ .dataview.result-group > ul {
  margin-top : 5px;
  padding-inline-start: 0;
}

.markdown-rendered .dataview.dataview-container .dataview.result-group > ul.contains-task-list > li {
  padding-left : 22px;
  text-indent : -22px;
}

.markdown-rendered .dataview.dataview-container .dataview.result-group > ul.contains-task-list li {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;  
}

.markdown-rendered .dataview.dataview-container .dataview.result-group > ul.contains-task-list > li ul {
  padding-inline-start: 20px;
  margin-left: -12px;
}

.markdown-rendered .dataview.dataview-container .dataview.result-group > ul.contains-task-list ul li {
  padding-left : 20px;
  text-indent: -22px;
}

.markdown-rendered .dataview.dataview-container .dataview.result-group > ul.contains-task-list a[href="#todoist"] {
  display:none;
}

.markdown-rendered .dataview.dataview-container .dataview.result-group > ul.contains-task-list  [href*="https://todoist.com/showTask"] {
  display:none;
}

.markdown-rendered .dataview.dataview-container .dataview.result-group > ul.contains-task-list ul {
  border-left: 1px solid #fff;
}