/* MAKE.md folder color settings */

.mk-section {
  border-radius: 10px;
  background: rgba(249, 226, 175, 1);
}

.mk-section .mk-tree-text {
  color: black;
}

.mk-file-icon svg {
  stroke: white;
}

.mk-section .mk-file-icon svg {
  stroke: black;
}

.mk-tree-item.tree-item-self.nav-file-title {
  color: white;
}

.mk-tree-item.tree-item-self.nav-file-title::before {
  display: none !important;
}

/* make.md space border color settings */

.mk-folder-lines .mk-tree-item.nav-folder-title::before {
  border-color: #aaa;
}

/* make.md folder icon disable */
.mk-file-icon {
  display: none;
}
